/*-------------------- Themes --------------------*/

body[theme="default"] {
  --background: #1c1c1c;
  --theme: #4caf50;
  --text: white;
  --text-secondary: black;
}
body[theme="poop"] {
  --background: black;
  --theme: brown;
  --text: white;
  --text-secondary: white;
}

body[theme="light"] {
  --background: white;
  --theme: #4caf50;
  --text: black;
  --text-secondary: black;
}
body[theme="pink"] {
  --background: #ff1dce;
  --theme: #ff33ff;
  --text: #39ff14;
  --text-secondary: #39ff14;
}
body[theme="blue"] {
  --background: #062a78;
  --theme: #062a78;
  --text: #b0c4de;
  --text-secondary: #b0c4de;
}
body[theme="yellow"] {
  --background: #ffff00;
  --theme: #ffff00;
  --text: #B58B00;
  --text-secondary: #B58B00;
}
body[theme="airtagschicken"] {
  --background: #00ff00;
  --theme: #00ff80;
  --text: #FA11F2;
  --text-secondary: #FA11F2;
}
body[theme="amoled"] {
  --background: #000000;
  --theme: #000000;
  --text: #ffffff;
  --text-secondary: #ffffff;
}
body[theme="communism"] {
  --background: ##ff0000;
  --theme: #ff1f1f;
  --text: #ffff00;
  --text-secondary: #ffff00;
}
body[theme="homestuck"] {
    --background: #dfdfdf;
    --theme: #0ad53e;
    --text: black;
    --text-secondary: white;
}
body[theme="orchid"] {
  --background: #1c1c1c;
  --theme: #b625cc;
  --text: white;
  --text-secondary: white;
}

body[theme="sky"] {
  --background: #1c1c1c;
  --theme: #0084ff;
  --text: white;
  --text-secondary: black;
}

body[theme="winter"] {
  --background: linear-gradient(to right, #2377a4, #79c0d7), #79c0d7;
  --theme: #3da341;
  --text: white;
  --text-secondary: white;
}

body[theme="winter"] .navbar {
  box-shadow: none;
}

body[theme="nebelung"] {
  --background: #dabc9a;
  --text: black;
  --text-secondary: white;
  --theme: linear-gradient(to right, #3d2d1e, #190f05);
}

body[theme="nebelung"] .navbar {
  box-shadow: 0 5px 200px #3d2d1e;
  animation: nebelungBreathing 5s ease-out infinite normal;
}

body[theme="piplup"] {
  --background: #5bacee;
  --theme: #0026ff;
  --text: white;
  --text-secondary: black;
}

@keyframes nebelungBreathing {
  0% {
    box-shadow: 0 5px 170px #3d2d1e;
  }

  25% {
    box-shadow: 0 5px 200px #3d2d1e;
  }

  60% {
    box-shadow: 0 5px 170px #3d2d1e;
  }

  100% {
    box-shadow: 0 5px 170px #3d2d1e;
  }
}

@-webkit-keyframes nebelungBreathing {
  0% {
    box-shadow: 0 5px 170px #3d2d1e;
  }

  25% {
    box-shadow: 0 5px 200px #3d2d1e;
  }

  60% {
    box-shadow: 0 5px 170px #3d2d1e;
  }

  100% {
    box-shadow: 0 5px 170px #3d2d1e;
  }
}

body[theme="forternish"] {
  --background: #003443;
  --theme: linear-gradient(15deg, #82c4e4, #60f108);
  --text: white;
  --text-secondary: black;
}

body[theme="forternish"] * {
  font-family: Comic Sans MS;
}

body[theme="northernfish"] {
  --background: linear-gradient(to bottom right, #91fa9e, #0ec9f8);
  --theme: #3778ff;
  --text: black;
  --text-secondary: black;
}

body[theme="northernfish"] .navbar {
  box-shadow: none !important;
}

body[theme="northernfish"] .navitems {
  background: transparent;
}

body[theme="northernfish"]::-webkit-scrollbar {
  background: #0ec9f8;
}

body[theme="forgor"] {
  --background: #efefef;
  --theme: #d7d700;
  --text: #d7d700;
  --text-secondary: #efefef;
}

body[theme="monotonium"] {
  --background: white;
  --theme: black;
  --text: black;
  --text-secondary: white;
}

body[theme="monotonium-dark"] {
  --background: black;
  --theme: white;
  --text: white;
  --text-secondary: black;
}

body[theme="concrete"] {
  --background: gray;
  --theme: white;
  --text: white;
  --text-secondary: grey;
}

body[theme="sunset"] {
  --background: #1c1c1c;
  --theme: #e83141;
  --text: white;
  --text-secondary: black;
}

body[theme="russell2259"] {
  --background: rgba(17, 17, 17, 0.777);
  --theme: #0473fb;
  --text: #fff;
  --text-secondary: black;
}

html,
body {
  color: var(--text);
}

body[theme="fracital"] {
  --background: #222;
  --theme: #f971e4;
  --text: white;
  --text-secondary: black;
}

body[theme="hacker"] {
  --background: black;
  --theme: #72dc83;
  --text: white;
  --text-secondary: black;
}

body[theme="hacker"] * {
  font-family: "JetBrains Mono";
}

body[theme="parrot"] {
  --background: #1a1404;
  --theme: #0580c3;
  --text: #c39e1f;
  --text-secondary: #000000;
}
